    <div class="teaser" id="signers">
    </div>


<div class="Item">
<h1>We are saving the Dodo Bird together!</h1>
<br>
<h2>All these people have signed to save their <br> 
favorite extinct Bird:</h2>
<br>

<ul>

    {{#each rows}}
        <li><a href="{{url}}">{{first}} {{last}} ({{age}}), </a><a href="signers/{{city}}">{{city}}</a></li><br>
    {{/each}}

</ul>
</div>

